body {
  margin: 0;
  padding: 0;
  background: #1A1A1A;
  display:flex; flex-direction:row;
}
h1 {
  color: #fff;
  font-size: 3rem;
  font-family: 'Anonymous Pro', monospace;
}
p, span {
  color: #f3f3f3;
  font-size: 1rem;
  font-family: 'Anonymous Pro', monospace;
}
nav{
  position: fixed; top: 0; bottom: 0; left: 0;
  background: #000;
  padding: 42px;
  width: 156px;
}
.example-img{
  position: absolute; bottom: 20px; left: 20px; right: 20px;
  width: calc(100% - 40px);
}
.wrapper{
  display:flex; flex-direction:column; justify-content:center; align-items:center; align-content: center;
  margin-left: 240px;
}
.terminal{
  padding: calc(5vw + 1rem + 16px) 5vw 5vw;
  margin: 4.2vw;
  background: #0a0a0a;
  border-radius: 1px;
  position: relative;
}
.terminal span {
  font-size: 0.9rem;
  color: #eee;
}
.top-bar{
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.test{
  min-height: 100vh;
  color: #fff;
}
